# build output
/build_local/
/build_production/
/build_staging/
/cache/
/source/assets/build/

# dependencies
/node_modules/
/vendor/

# environment variables
.env

# editors
/.idea/
/.vscode/

# macOS-specific files
.DS_Store

# logs
npm-debug.log*
hot
