<ul class="list-group">
  <li class="list-group-item">
    <a href="{{ "/api/overview" | prepend: site.baseurl | prepend: site.url }}">Overview</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/contacts" | prepend: site.baseurl | prepend: site.url }}">Contacts</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/notes" | prepend: site.baseurl | prepend: site.url }}">Notes</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/activities" | prepend: site.baseurl | prepend: site.url }}">Activities</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/reminders" | prepend: site.baseurl | prepend: site.url }}">Reminders</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/tasks" | prepend: site.baseurl | prepend: site.url }}">Tasks</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/tags" | prepend: site.baseurl | prepend: site.url }}">Tags</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/calls" | prepend: site.baseurl | prepend: site.url }}">Calls</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/gifts" | prepend: site.baseurl | prepend: site.url }}">Gifts</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/debts" | prepend: site.baseurl | prepend: site.url }}">Debts</a>
  </li>
  <li class="list-group-item">
    <a href="{{ "/api/journal" | prepend: site.baseurl | prepend: site.url }}">Journal entries</a>
  </li>
</ul>
