  <div class="container header">
    <div class="row">
      <div class="col-sm-3 col-12 mb-3 mb-sm-0 logo">
        <a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}">
          <svg width="114px" height="26px" viewBox="0 0 114 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs></defs>
            <g id="Marketing" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="32" font-family="Domine-Regular, Domine" font-weight="normal">
              <g id="homepage" transform="translate(-250.000000, -28.000000)" fill="#FFFFFF">
                <text id="monica">
                  <tspan x="249" y="53">monica</tspan>
                </text>
              </g>
            </g>
          </svg>
        </a>
      </div> <!-- .col-3 -->
      <div class="col-sm-9 d-none d-sm-inline">
        <nav class="navbar navbar-expand-lg float-right">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-right menu">
              <li class="mr-4">
                <a class="inverted" href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">Blog</a>
              </li>
              <li class="mr-4">
                <a class="inverted" href="{{ "/pricing" | prepend: site.baseurl | prepend: site.url }}">Pricing</a>
              </li>
              <li class="mr-4">
                <a class="inverted" href="{{ "/api/overview" | prepend: site.baseurl | prepend: site.url }}">Docs</a>
              </li>
              <li class="mr-4">
                <a class="inverted" href="https://app.monicahq.com">Log In</a>
              </li>
              <li class="mr-4">
                <a class="btn btn-primary" href="https://app.monicahq.com">Create account</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="row d-sm-none responsive-menu">
      <div class="col-6">
        <ul class="px-0">
          <li class="no-bullet">
            <a class="inverted" href="{{ "/blog" | prepend: site.baseurl | prepend: site.url }}">Blog</a>
          </li>
          <li class="no-bullet">
            <a class="inverted" href="{{ "/pricing" | prepend: site.baseurl | prepend: site.url }}">Pricing</a>
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="px-0">
          <!-- <li class="no-bullet">
            <a class="inverted" href="{{ "/api" | prepend: site.baseurl | prepend: site.url }}">Docs</a>
          </li> -->
          <li class="no-bullet">
            <a class="inverted" href="https://app.monicahq.com">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
