---
---

@import 'bootstrap.min';
@import 'highlight';

$white: #fff;
$border-color: #d9d9d9;
$btn-bg: #5aa111;
$btn-bg-hover: #598032;
$bg-color-fix-header: #223864;
$bg-color-footer: #051b36;
$bg-color-header-top: #1b2b57;
$bg-color-header-bottom: #4f8dbe;
$bg-color-header: linear-gradient(-180deg, $bg-color-header-top 0%, $bg-color-header-bottom 100%);

.bg-blue {
  background-image: $bg-color-header;
}

.fix-blue {
  background-color: $bg-color-fix-header;
}

.white {
  color: $white;
}

.font-weight-light {
  font-weight: 100;
}

.btn-primary {
  background: $btn-bg;
  border: 0;
  border-radius: 5px;
  font-weight: 100;

  &:hover {
    background-color: $btn-bg-hover;
    border: 0;
  }
}

.inline {
  li {
    display: inline;
  }
}

.inverted {
  color: $white;

  &:hover {
    color: $white;
  }
}

.no-bullet {
  list-style-type: none;
}

footer {
  background-color: $bg-color-footer;

  .footer-small {
    font-size: 11px;
    margin-bottom: 0;
  }

  .svg-icon {
    &:hover {
      text-decoration: none;
    }

    .svg-icon-file {
      fill: currentColor;
      width: 20px;
    }
  }
}

.header {
  .logo {
    @media only screen and (max-width: 480px) {
      text-align: center;
    }
  }

  .menu {
    a {
      font-size: 15px;

      &.btn {
        margin-top: -5px;
      }
    }
  }

  .responsive-menu {
    border-bottom: 1px solid $white;
    text-align: center;
  }
}

.homepage {
  main {
    height: 710px;
    margin-bottom: 120px;

    @media only screen and (max-width: 480px) {
      height: 580px;
    }
  }

  .main-content {
    h1 {
      font-size: 26px;
      font-weight: 100;
      line-height: 30px;
    }

    h2 {
      font-size: 16px;
      font-weight: 100;
      line-height: 25px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }
  }

  .things {
    border: 1px solid $border-color;
    border-radius: 3px;
  }

  .why {
    p {
      margin: 0 auto;
      max-width: 550px;
    }
  }

  .laptop {
    left: 80px;
    position: relative;
    top: 13px;
    transform: rotate(-21deg);
    width: 175px;
  }
}

.pricing {
  main {
    height: 570px;
    margin-bottom: 190px;

    @media only screen and (max-width: 480px) {
      height: 1110px;
      margin-bottom: 150px;
    }
  }

  .pricing-box {
    background-color: $white;
    border: 1px solid $border-color;
    border-radius: 3px;
    width: 300px;

    @media only screen and (max-width: 480px) {
      width: 100%;
      float: none;
    }
  }

  .price-plan {
    font-size: 40px;
  }

  .price {
    font-size: 30px;
  }

  .faq {
    h2,
    h3,
    p {
      margin: 0 auto;
      max-width: 460px;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }
  }
}

.privacy {
  .privacy-image {
    background: url(/assets/img/privacy.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;

    @media only screen and (max-width: 480px) {
      height: 300px;
    }
  }

  .text {
    margin: 0 auto;
    max-width: 550px;
  }
}

.terms {
  .terms-image {
    background: url(/assets/img/terms.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;

    @media only screen and (max-width: 480px) {
      height: 300px;
    }
  }

  .text {
    margin: 0 auto;
    max-width: 550px;
  }
}

.changelog {
  .changelog-image {
    background: url(/assets/img/changelog.jpg) no-repeat center center;
    background-size: cover;
    height: 400px;

    @media only screen and (max-width: 480px) {
      height: 300px;
    }
  }

  .promo-box {
    border: 1px solid $border-color;

    h3 {
      font-size: 16px;
    }
  }

  .changes {
    h3 {
      font-size: 20px;
    }
  }
}

.team {
  .team-image {
    background: url(/assets/img/team.jpg) no-repeat center center;
    background-size: cover;
    height: 600px;

    @media only screen and (max-width: 480px) {
      height: 300px;
    }
  }

  .summary {
    border: 1px solid $border-color;
    border-radius: 3px;

    div:not(:last-child) {
      border-right: 1px solid $border-color;
    }

    p {
      font-size: 13px;
    }
  }

  .bio {
    margin: 0 auto;
    max-width: 460px;
  }
}

.blog {
  article {
    border: 1px solid $border-color;

    .article-image {
      img {
        width: 100%;
      }
    }

    .article-excerpt {
      height: 200px;

      @media only screen and (max-width: 480px) {
        height: 100%;
      }

      h3 {
        font-size: 22px;
      }
    }

    .article-metadata {
      font-size: 13px;
    }
  }
}

.post {
  .post-content {
    margin: 0 auto;
    max-width: 600px;

    h3 {
      border-bottom: 1px solid $border-color;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 30px;
      padding-bottom: 5px;
    }

    img {
      max-width: 100%;
    }
  }
}

.api {
  p,
  li {
    font-size: 14px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    border-bottom: 1px solid $border-color;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 5px;
  }

  h3 {
    font-size: 16px;
    margin-top: 30px;
  }

  .title {
    h1 {
      font-size: 50px;
      margin-bottom: 40px;
    }

    p {
      font-size: 20px;
      letter-spacing: 2px
    }

    .logo {
      margin-bottom: 60px;
    }

    .bg {
      position: absolute;
      left: 0;
      top: -220px;

      @media only screen and (max-width: 480px) {
        display: none;
      }
    }
  }

  .last-update {
    color: #999;
  }

  pre {
    font-size: 12px;
  }

  .highlight {
    background-color: #f1f0f0;
    border-radius: 4px;
    padding: 10px;

    pre {
      margin-bottom: 0;
    }
  }

  url {
    background-color: #444;
    border: 1px solid $border-color;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-family: Source Code Pro,Courier New,Courier,monospace;
    font-size: 14px;
    margin: 10px 0;
    padding: 5px 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $border-color;

    th {
      font-weight: 400;
      text-align: left;
    }

    td,
    th {
      padding: 5px;
      border-right: 1px solid $border-color;
      border-bottom: 1px solid $border-color;
    }

    tbody {
      th {
        width: 25%;
      }

      th,
      td {
        border-bottom-color: #d9d9d9;
        font-size: 14px;
      }

      tr:last-child {
        th,
        td {
          border-bottom: 1px solid $border-color;
        }
      }
    }
  }

  .section-nav {
    background-color: #FFF;
    margin: 5px 0;
    padding: 10px 30px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
  }
}
